<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.verest.board.model.Port" alias="Port"/>
		<typeAlias type="com.verest.board.model.Project" alias="Project"/>
		<typeAlias type="com.verest.board.model.Sale" alias="Sale"/>
		<typeAlias type="com.verest.board.model.Backsight" alias="Backsight"/>
		<typeAlias type="com.verest.board.model.Basket" alias="Basket"/>
		<typeAlias type="com.verest.board.model.Order_list" alias="Order_list"/>
		<typeAlias type="com.verest.board.model.Question" alias="Question"/>
		<typeAlias type="com.verest.board.model.UserInfo" alias="UserInfo"/>
		<typeAlias type="com.verest.board.model.UserType" alias="UserType"/>
	</typeAliases>
</configuration>