@media (min-width: 900px) {

    * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        box-sizing: border-box;
        list-style: none;
        color: #333333;
        font-weight: bold;
        font-family: 'Spoqa Regular';
    }

    body {
        /*background: rgb(246,233,227);*/
        background: #3c3c3c;
    }

    .container {
        width: 80%;
        top: 0;
        left: 346px;
        overflow: hidden;
        background: #ffffff;
        position: relative;
    }

    .mainmenu {
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
    }

    .mainmenu .logo {
        margin-top: 80px;
        margin-left: 45px;
        margin-bottom: 40px;
    }

    .mainmenu .logo img {
        width: 250px;
        height: 110px;
    }

    .mainmenu .login {
        margin-bottom: 20px;
        margin-left: 55px;
        padding: 10px;
        color: #aaa;
    }

    .mainmenu .login a {
        color: #aaa;
    }

    .mainmenu .login a:hover {
        color: #fff;
    }

    .mainmenu .menu_top .nav_menu {
        margin-left: 55px;
        padding: 10px;
    }

    .mainmenu .menu_top .nav_menu a {
        color: #aaa;
        font-weight: bold;
    }

    .mainmenu .menu_top .nav_menu a:hover {
        color: #fff;
    }
}

@media (max-width: 900px) {
    * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        box-sizing: border-box;
        list-style: none;
        color: #333333;
        font-weight: bold;
        font-family: 'Spoqa Regular';
    }

    body {
        /*background: rgb(246,233,227);*/
        background: #3c3c3c;
    }

    .container {
        width: 100%;
        top: 0;
        overflow: hidden;
        background: #ffffff;
        position: relative;
    }

    .mainmenu {
        background: #3c3c3c;
        text-align: center;
    }

    .mainmenu .logo {
        text-align: center;
        margin-top: 40px;
    }

    .mainmenu .logo img {
        width: 250px;
        height: 110px;
    }

    .mainmenu .login {
        color: #aaa;
        margin-bottom: 32px;
    }

    .mainmenu .login a {
        color: #aaa;
    }

    .mainmenu .login a:hover {
        color: #fff;
    }

    .mainmenu .menu_top .nav_menu {
        display: inline-block;
        padding: 0px 20px 30px 10px;
    }

    .mainmenu .menu_top .nav_menu a {
        color: #aaa;
        font-weight: bold;
    }

    .mainmenu .menu_top .nav_menu a:hover {
        color: #fff;
    }
}