@charset "UTF-8";

@font-face { font-family: 'Spoqa Bold';
    src: url('Spoqa Han Sans Bold.ttf');
    format('truetype');
}
@font-face { font-family: 'Spoqa Light';
    src: url('Spoqa Han Sans Light.ttf');
format('truetype');
}
@font-face { font-family: 'Spoqa Regular';
    src: url('Spoqa Han Sans Regular.ttf');
format('truetype');
}
@font-face { font-family: 'Spoqa Thin';
    src: url('Spoqa Han Sans Thin.ttf');
format('truetype');
}


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    color: #333333;
    font-family: 'Spoqa Regular';
}