<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="css/pc.css">
    <link rel="stylesheet" href="css/mypage.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/mypage.js"></script>
    <title>Login</title>
</head>
<body>
<div class="login_container mypage_page">
    <div class="box">
        <a href="index.html"><div class="logo"><img src="img/logo1.png" ></div></a>
        <div class="login_form">
            <div class="title">마이페이지</div>
            <h3>이름</h3>
            <p>전동준</p>
            <h3>아이디</h3>
            <p>hootre@naver.com</p>
            <div class="bottom"><h5 class="edit">비밀번호수정</h5> / <h5 class="secession">회원탈퇴</h5></div>
        </div>
    </div>
</div>
<div class="login_container edit_page">
    <div class="box">
        <a href="index.html"><div class="logo"><img src="img/logo1.png" ></div></a>
        <form class="login_form" name="fmField1" action="" onsubmit="return checkForm1();">
            <div class="title">비밀번호변경</div>
            <input class="input" id="userPw1" name="userPw1" type="password" placeholder="현재 비밀번호">
            <input class="input" id="userPw2" name="userPw2" type="password" placeholder="새 비밀번호">
            <input class="input" id="userPw3" name="userPw3" type="password" placeholder="비밀번호 확인">
            <input class="submit" type="submit" value="비밀번호변경">
            <div class="bottom"><h5 class="mypage">뒤로가기</h5></div>
        </form>
    </div>
</div>
<div class="login_container secession_page">
    <div class="box">
        <a href="index.html"><div class="logo"><img src="img/logo1.png" ></div></a>
        <form class="login_form" name="fmField2" action="" onsubmit="return checkForm2();">
            <div class="title">회원 탈퇴</div>
            <input class="input" id="userPw4" name="userPw4" type="password" placeholder="비밀번호 확인">
            <input class="submit" type="submit" value="회원탈퇴">
            <div class="bottom"><h5 class="mypage">뒤로가기</h5></div>
        </form>
    </div>
</div>
</body>
</html>